In [1]:
import pandas as pd
import numpy as np

In [10]:
data_events = pd.read_csv("Data_eventsID.csv", delimiter="|")
purchase_events = pd.read_csv("Purchase_events_ID.csv", delimiter="|")

In [15]:
data_events.head(5)

,TIMESTAMP_EVENT,PRICE,PROPOSITION,USER_CLIENT_NUMBER,ARTICLE_CATEGORIE,USER_SESSION_ID,PROMOTION_LABEL,PAGE_NAME,PAGE_SECTION,PAGE_SECTION_POSITION,PROMOTION_PRICE,PRODUCT_TYPE,DEVICE_INFO_BRAND,DEVICE_INFO_TYPE,DEVICE_INFO_BROWSER,USER_SALES_GROUP,USER_SEGMENT,USER_SALES_DISTRICT,USER_PROMOTIONS_ALLOWED,EVENT
0,2022-04-05T07:41:24.017Z,6.4284,292477,89931,"1,112,071,060",1,NaN,Purchase List,Recommended Products,8.0,NaN,Bestellijst,(Windows) PC,COMPUTER,Chrome 99.0.4844.84,Rest. dag/avondkaart,restauratief,Nieuwegein,1,VIEW
1,2022-04-05T07:41:23.263Z,6.9300,631370,89931,"1,112,161,140",1,NaN,Purchase List,Recommended Products,6.0,NaN,Bestellijst,(Windows) PC,COMPUTER,Chrome 99.0.4844.84,Rest. dag/avondkaart,restauratief,Nieuwegein,1,VIEW
2,2022-04-05T14:03:01.086Z,14.0976,475439,89931,"1,051,251,010",1,NaN,Purchase List,Recommended Products,3.0,NaN,Bestellijst,(Windows) PC,COMPUTER,Chrome 99.0.4844.84,Rest. dag/avondkaart,restauratief,Nieuwegein,1,VIEW
3,2022-04-05T14:09:29.678Z,14.0976,475439,89931,"1,051,251,010",1,NaN,Purchase List,Recommended Products,3.0,NaN,Bestellijst,(Windows) PC,COMPUTER,Chrome 99.0.4844.84,Rest. dag/avondkaart,restauratief,Nieuwegein,1,VIEW
4,2022-04-05T07:41:22.020Z,14.0976,475439,89931,"1,051,251,010",1,NaN,Purchase List,Recommended Products,3.0,NaN,Bestellijst,(Windows) PC,COMPUTER,Chrome 99.0.4844.84,Rest. dag/avondkaart,restauratief,Nieuwegein,1,VIEW

In [12]:
data_events.dtypes

TIMESTAMP_EVENT             object
PRICE                      float64
PROPOSITION                  int64
USER_CLIENT_NUMBER           int64
ARTICLE_CATEGORIE           object
USER_SESSION_ID              int64
PROMOTION_LABEL             object
PAGE_NAME                   object
PAGE_SECTION                object
PAGE_SECTION_POSITION      float64
PROMOTION_PRICE            float64
PRODUCT_TYPE                object
DEVICE_INFO_BRAND           object
DEVICE_INFO_TYPE            object
DEVICE_INFO_BROWSER         object
USER_SALES_GROUP            object
USER_SEGMENT                object
USER_SALES_DISTRICT         object
USER_PROMOTIONS_ALLOWED      int64
EVENT                       object
dtype: object

In [13]:
purchase_events.head(5)

   PROPOSITION  USER_CLIENT_NUMBER                 DATE   AMOUNT
0       170618              308685  2021-10-21 00:00:00   576.44
1       170618              308685  2022-04-01 00:00:00   250.43
2       170618              308685  2022-03-01 00:00:00  1275.91
3       170618              630340  2021-12-08 00:00:00   142.71
4       170618              630340  2022-04-22 00:00:00   723.65

In [16]:
purchase_events.dtypes

PROPOSITION             int64
USER_CLIENT_NUMBER      int64
DATE                   object
AMOUNT                float64
dtype: object