# This file is used to create the file structure for the clients

In [33]:
import pandas as pd
import os

import process_client_tree as ProcessClient

# Load the data 
## You first must upload the csv files that contain the transformed data, which can be found in the whatsapp group. This data can also be made using the files Process_Client_add_events_to_purchases.py and process_client_tree.py
However this takes a long time, you also must first use the file Process_Client_add_events_to_purchases.py to add the events to the purchases, and then use the file process_client_tree.py to create the file structure for the clients.

This is will take a very long time because the data is very large, and the process is not optimized (for the Process_Client_add_events_to_purchases.py file). The process_client_tree.py file is optimized for the creation of the file structure for the clients, but it still takes a long time.

In [29]:
data_events = pd.read_csv("processed_data/processed_events.csv", sep="|")
data_events

,TIMESTAMP_EVENT,PRICE,PROPOSITION,USER_CLIENT_NUMBER,ARTICLE_CATEGORIE,USER_SESSION_ID,PROMOTION_LABEL,PAGE_NAME,PAGE_SECTION,PAGE_SECTION_POSITION,...,DEVICE_INFO_BRAND,DEVICE_INFO_TYPE,DEVICE_INFO_BROWSER,USER_SALES_GROUP,USER_SEGMENT,USER_SALES_DISTRICT,USER_PROMOTIONS_ALLOWED,EVENT,DATE,TIME
0,2022-04-05T07:41:24.017Z,6.4284,292477,89931,"1,112,071,060",1,NaN,Purchase List,Recommended Products,8.0,...,(Windows) PC,COMPUTER,Chrome 99.0.4844.84,Rest. dag/avondkaart,restauratief,Nieuwegein,1,VIEW,2022-04-05,07:41:24.017
1,2022-04-05T07:41:23.263Z,6.9300,631370,89931,"1,112,161,140",1,NaN,Purchase List,Recommended Products,6.0,...,(Windows) PC,COMPUTER,Chrome 99.0.4844.84,Rest. dag/avondkaart,restauratief,Nieuwegein,1,VIEW,2022-04-05,07:41:23.263
2,2022-04-05T14:03:01.086Z,14.0976,475439,89931,"1,051,251,010",1,NaN,Purchase List,Recommended Products,3.0,...,(Windows) PC,COMPUTER,Chrome 99.0.4844.84,Rest. dag/avondkaart,restauratief,Nieuwegein,1,VIEW,2022-04-05,14:03:01.086
3,2022-04-05T14:09:29.678Z,14.0976,475439,89931,"1,051,251,010",1,NaN,Purchase List,Recommended Products,3.0,...,(Windows) PC,COMPUTER,Chrome 99.0.4844.84,Rest. dag/avondkaart,restauratief,Nieuwegein,1,VIEW,2022-04-05,14:09:29.678
4,2022-04-05T07:41:22.020Z,14.0976,475439,89931,"1,051,251,010",1,NaN,Purchase List,Recommended Products,3.0,...,(Windows) PC,COMPUTER,Chrome 99.0.4844.84,Rest. dag/avondkaart,restauratief,Nieuwegein,1,VIEW,2022-04-05,07:41:22.020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9959368,2022-03-06T15:17:48.627Z,9.3588,956134,986605,"1,061,261,431",349969,NaN,NaN,NaN,NaN,...,(Windows) PC,COMPUTER,Chrome 98.0.4758.102,Restaur. dagkaart,restauratief,Nieuwegein,1,ADD_TO_CARD,2022-03-06,15:17:48.627
9959369,2022-03-06T14:30:42.842Z,131.9604,211104,986605,"1,101,761,030",349969,NaN,NaN,NaN,NaN,...,(Windows) PC,COMPUTER,Chrome 98.0.4758.102,Restaur. dagkaart,restauratief,Nieuwegein,1,ADD_TO_CARD,2022-03-06,14:30:42.842
9959370,2022-03-06T16:52:28.600Z,15.4308,5611,986605,"1,112,071,040",349969,NaN,NaN,NaN,NaN,...,(Windows) PC,COMPUTER,Chrome 98.0.4758.102,Restaur. dagkaart,restauratief,Nieuwegein,1,ADD_TO_CARD,2022-03-06,16:52:28.600
9959371,2022-03-06T15:18:05.661Z,16.0512,56378,986605,"1,081,531,502",349969,NaN,NaN,NaN,NaN,...,(Windows) PC,COMPUTER,Chrome 98.0.4758.102,Restaur. dagkaart,restauratief,Nieuwegein,1,ADD_TO_CARD,2022-03-06,15:18:05.661
9959372,2022-03-06T15:16:38.172Z,5.4780,595528,986605,"1,051,221,498",349969,NaN,NaN,NaN,NaN,...,(Windows) PC,COMPUTER,Chrome 98.0.4758.102,Restaur. dagkaart,restauratief,Nieuwegein,1,ADD_TO_CARD,2022-03-06,15:16:38.172

In [24]:
purchase_events = pd.read_csv("processed_data/processed_purchase_events.csv",
                              delimiter="|", index_col=0)

purchase_events

,Unnamed: 0,USER_CLIENT_NUMBER,DATE,PROPOSITION,AMOUNT,NUMBER_OF_TIMES_SEEN_30_days,NUMBER_OF_TIMES_SEEN_7_days,NUMBER_OF_TIMES_SEEN_1_days
0,5776,471557,2021-11-18,170618,449.22,0,0,0
1,5777,471557,2022-03-17,170618,177.67,0,0,0
2,5778,471557,2022-04-26,170618,361.48,0,0,0
3,5779,471557,2021-10-19,170618,220.56,0,0,0
4,5780,471557,2021-12-21,170618,384.09,0,0,0
...,...,...,...,...,...,...,...,...
11211079,15489655,164025,2022-04-25,804069,-85.14,3,1,0
11211080,15489656,164025,2022-04-21,804069,425.70,3,3,1
11211081,15489657,164025,2022-04-16,804069,709.50,2,2,0
11211082,15489664,920532,2022-02-04,794878,115.76,0,0,0
11211083,15489665,920532,2021-11-12,794878,130.93,0,0,0

# Remove bad column
somehow I added an unnamed column to the dataset, which is not necessary, so I am going to remove it
this will only make the process later more difficult. This is a mistake that I made when I was saving the data

In [31]:
if "Unnamed: 0" in purchase_events.columns:
    purchase_events = purchase_events.drop(columns=["Unnamed: 0"])
purchase_events

,USER_CLIENT_NUMBER,DATE,PROPOSITION,AMOUNT,NUMBER_OF_TIMES_SEEN_30_days,NUMBER_OF_TIMES_SEEN_7_days,NUMBER_OF_TIMES_SEEN_1_days
0,471557,2021-11-18,170618,449.22,0,0,0
1,471557,2022-03-17,170618,177.67,0,0,0
2,471557,2022-04-26,170618,361.48,0,0,0
3,471557,2021-10-19,170618,220.56,0,0,0
4,471557,2021-12-21,170618,384.09,0,0,0
...,...,...,...,...,...,...,...
11211079,164025,2022-04-25,804069,-85.14,3,1,0
11211080,164025,2022-04-21,804069,425.70,3,3,1
11211081,164025,2022-04-16,804069,709.50,2,2,0
11211082,920532,2022-02-04,794878,115.76,0,0,0
11211083,920532,2021-11-12,794878,130.93,0,0,0

In [40]:
def save_client_data_to_folder(data_events_table, purchase_events_table, client_id):
    folder_main = str(client_id)
    purchase_file = "purchases.csv"
    data_file = "events.csv"
    
    client_data_events = data_events_table[data_events_table["USER_CLIENT_NUMBER"]==client_id]
    client_purchases = purchase_events_table[purchase_events_table["USER_CLIENT_NUMBER"]==client_id]
    
    client_folder = os.path.join("client_data", folder_main)
    
    if not os.path.isdir(client_folder):
        os.mkdir(client_folder)
        
    client_data_events.to_csv(os.path.join(client_folder, data_file), sep="|", index=False)
    client_purchases.to_csv(os.path.join(client_folder, purchase_file), sep ="|", index=False)
    
save_client_data_to_folder(data_events, purchase_events, 471557)

In [35]:
unique_clients_purchases = purchase_events["USER_CLIENT_NUMBER"].unique()
unique_clients_events = data_events["USER_CLIENT_NUMBER"].unique()

clients_with_purchases_and_data_events = [client_id for client_id in unique_clients_purchases if client_id in unique_clients_events]
print(len(clients_with_purchases_and_data_events))

10711

In [41]:
for client in clients_with_purchases_and_data_events:
    save_client_data_to_folder(data_events, purchase_events, client)

In [42]:
client_test = ProcessClient.Client("2288", "client_data")
get_table_of_client = client_test.get_table_of_client("events")
get_table_of_client

,TIMESTAMP_EVENT,PRICE,PROPOSITION,USER_CLIENT_NUMBER,ARTICLE_CATEGORIE,USER_SESSION_ID,PROMOTION_LABEL,PAGE_NAME,PAGE_SECTION,PAGE_SECTION_POSITION,...,DEVICE_INFO_BROWSER,USER_SALES_GROUP,USER_SEGMENT,USER_SALES_DISTRICT,USER_PROMOTIONS_ALLOWED,EVENT,DATE,TIME,purchases_7_day_after,purchases_30_day_after
0,2022-02-10T11:45:07.789Z,66.4884,217444,2288,"1,071,401,464",4720,NaN,NaN,NaN,NaN,...,Stock Browser,Rest. dag/avondkaart,restauratief,Schiedam,1,ADD_TO_CARD,2022-02-10,11:45:07.789,0,0
1,2022-02-10T11:45:16.163Z,72.3492,739853,2288,"1,071,401,464",4720,NaN,NaN,NaN,NaN,...,Stock Browser,Rest. dag/avondkaart,restauratief,Schiedam,1,ADD_TO_CARD,2022-02-10,11:45:16.163,0,0
2,2022-02-10T11:45:17.873Z,94.3932,310636,2288,"1,071,401,464",4720,NaN,NaN,NaN,NaN,...,Stock Browser,Rest. dag/avondkaart,restauratief,Schiedam,1,ADD_TO_CARD,2022-02-10,11:45:17.873,0,0
3,2022-02-28T11:53:54.561Z,15.4968,674286,2288,"1,081,511,192",11974,Actie,Shopping Cart,Recommended Products,2.0,...,Stock Browser,Rest. dag/avondkaart,restauratief,Schiedam,1,VIEW,2022-02-28,11:53:54.561,0,0
4,2022-02-28T11:51:22.873Z,30.3468,865744,2288,"1,011,071,496",11974,NaN,NaN,NaN,NaN,...,Stock Browser,Rest. dag/avondkaart,restauratief,Schiedam,1,ADD_TO_CARD,2022-02-28,11:51:22.873,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2272,2021-12-09T10:59:10.960Z,18.8760,523627,2288,"1,011,011,251",349583,NaN,NaN,NaN,NaN,...,Safari 15.1,Rest. dag/avondkaart,restauratief,Schiedam,1,ADD_TO_CARD,2021-12-09,10:59:10.960,0,0
2273,2021-12-09T10:59:26.819Z,12.6060,330903,2288,"1,011,011,560",349583,NaN,NaN,NaN,NaN,...,Safari 15.1,Rest. dag/avondkaart,restauratief,Schiedam,1,ADD_TO_CARD,2021-12-09,10:59:26.819,0,0
2274,2021-12-09T11:01:11.633Z,33.3432,175802,2288,"1,071,321,071",349583,NaN,NaN,NaN,NaN,...,Safari 15.1,Rest. dag/avondkaart,restauratief,Schiedam,1,ADD_TO_CARD,2021-12-09,11:01:11.633,0,0
2275,2021-12-09T10:58:38.880Z,55.2948,649771,2288,"1,011,031,135",349583,NaN,NaN,NaN,NaN,...,Safari 15.1,Rest. dag/avondkaart,restauratief,Schiedam,1,ADD_TO_CARD,2021-12-09,10:58:38.880,0,0
2276,2021-12-09T11:01:06.994Z,25.3440,567306,2288,"1,071,311,062",349583,NaN,NaN,NaN,NaN,...,Safari 15.1,Rest. dag/avondkaart,restauratief,Schiedam,1,ADD_TO_CARD,2021-12-09,11:01:06.994,0,0

In [3]:
process_clients = ProcessClient.ProcessClientsFolderTree()
client_id_list = process_clients.clientid_list
chunks_to_process = process_clients.setup_chunks_from_client_list(client_id_list, chunk_size=100)

#with multiprocessing.Pool(processes=8) as pool:

#    results = pool.map(process_clients.process_clients_in_chunk, chunks_to_process)

#df_list = []
#with multiprocessing.Pool(processes=8) as pool:

#    results = pool.map(process_clients.aggregate_clients_in_chunk, chunks_to_process)
process_clients.aggregate_clients_multi_processing("events")

Skipping file:  .DS_Store

,Unnamed: 0,TIMESTAMP_EVENT,PRICE,PROPOSITION,USER_CLIENT_NUMBER,ARTICLE_CATEGORIE,USER_SESSION_ID,PROMOTION_LABEL,PAGE_NAME,PAGE_SECTION,...,DEVICE_INFO_BROWSER,USER_SALES_GROUP,USER_SEGMENT,USER_SALES_DISTRICT,USER_PROMOTIONS_ALLOWED,EVENT,DATE,TIME,purchases_7_day_after,purchases_30_day_after
0,24844,2022-02-28T14:51:25.349Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,...,Chrome 98.0.4758.102,Cafetaria/Snackbar,fastservice,Hengelo,1,VIEW,2022-02-28,14:51:25.349,0,0
1,24845,2022-02-28T14:51:46.443Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,...,Chrome 98.0.4758.102,Cafetaria/Snackbar,fastservice,Hengelo,1,VIEW,2022-02-28,14:51:46.443,0,0
2,24846,2022-02-28T14:52:06.207Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,...,Chrome 98.0.4758.102,Cafetaria/Snackbar,fastservice,Hengelo,1,VIEW,2022-02-28,14:52:06.207,0,0
3,24847,2022-02-28T14:52:06.211Z,12.5268,349240,386730,"1,091,661,078",933,Actie,Shopping Cart,Recommended Products,...,Chrome 98.0.4758.102,Cafetaria/Snackbar,fastservice,Hengelo,1,VIEW,2022-02-28,14:52:06.211,0,0
4,24848,2022-02-28T14:51:25.319Z,12.5268,349240,386730,"1,091,661,078",933,Actie,Shopping Cart,Recommended Products,...,Chrome 98.0.4758.102,Cafetaria/Snackbar,fastservice,Hengelo,1,VIEW,2022-02-28,14:51:25.319,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9937932,9082680,2022-01-28T15:48:08.723Z,35.7192,87264,804960,"1,081,451,429",319213,NaN,NaN,NaN,...,Chrome 97.0.4692.99,Bedrijven Restaurant,restauratief,Helmond,1,ADD_TO_CARD,2022-01-28,15:48:08.723,0,0
9937933,9082681,2022-01-28T15:46:27.480Z,17.1204,594422,804960,"1,011,031,135",319213,NaN,NaN,NaN,...,Chrome 97.0.4692.99,Bedrijven Restaurant,restauratief,Helmond,1,ADD_TO_CARD,2022-01-28,15:46:27.480,0,0
9937934,9082682,2022-01-28T15:48:43.837Z,18.2424,8749,804960,"1,011,011,555",319213,NaN,NaN,NaN,...,Chrome 97.0.4692.99,Bedrijven Restaurant,restauratief,Helmond,1,ADD_TO_CARD,2022-01-28,15:48:43.837,0,0
9937935,9082683,2022-01-28T15:48:53.241Z,1.6500,255956,804960,"1,031,161,491",319213,NaN,NaN,NaN,...,Chrome 97.0.4692.99,Bedrijven Restaurant,restauratief,Helmond,1,ADD_TO_CARD,2022-01-28,15:48:53.241,0,0
9937936,9082684,2022-01-28T15:48:26.590Z,13.9260,70147,804960,"1,081,531,093",319213,NaN,NaN,NaN,...,Chrome 97.0.4692.99,Bedrijven Restaurant,restauratief,Helmond,1,ADD_TO_CARD,2022-01-28,15:48:26.590,0,0