In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#import data_events
data_events = pd.read_csv('processed_data/processed_events.csv', sep="|")

In [4]:
#import weather data
data_weather = pd.read_csv('data/weather_utrecht_data_daily.csv', sep=",")
data_weather

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,utrecht,2021-11-01,12.6,6.7,9.8,12.6,4.4,8.2,7.2,84.1,...,2.3,2,NaN,2021-11-01T07:34:51,2021-11-01T17:10:37,0.89,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"06260099999,06356099999,C8794,06348099999,0624..."
1,utrecht,2021-11-02,9.6,5.0,7.2,8.5,3.2,5.4,6.1,93.1,...,2.1,1,NaN,2021-11-02T07:36:40,2021-11-02T17:08:47,0.92,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"06260099999,06356099999,06348099999,0624009999..."
2,utrecht,2021-11-03,8.7,2.0,4.9,8.7,-0.7,4.3,4.6,98.3,...,3.4,2,NaN,2021-11-03T07:38:28,2021-11-03T17:06:59,0.95,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"06260099999,06356099999,06348099999,0624009999..."
3,utrecht,2021-11-04,10.8,2.9,5.9,10.8,1.6,5.4,5.4,96.4,...,4.1,3,NaN,2021-11-04T07:40:17,2021-11-04T17:05:12,0.00,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"06260099999,06356099999,06348099999,0624009999..."
4,utrecht,2021-11-05,12.3,1.2,7.4,12.3,-0.3,6.3,5.4,88.0,...,4.1,2,NaN,2021-11-05T07:42:05,2021-11-05T17:03:27,0.02,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"06260099999,06356099999,06348099999,0624009999..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,utrecht,2022-04-27,12.8,0.7,7.6,12.8,-0.3,7.1,2.9,75.0,...,16.8,7,10.0,2022-04-27T06:17:40,2022-04-27T20:57:54,0.88,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"06260099999,06356099999,06348099999,0624009999..."
178,utrecht,2022-04-28,15.0,1.0,8.4,15.0,-1.4,7.4,3.6,74.2,...,20.4,8,10.0,2022-04-28T06:15:40,2022-04-28T20:59:36,0.91,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"06260099999,06356099999,06348099999,0624009999..."
179,utrecht,2022-04-29,12.8,5.7,8.9,12.8,3.3,7.4,4.2,73.5,...,13.2,5,10.0,2022-04-29T06:13:42,2022-04-29T21:01:17,0.95,Overcast,Cloudy skies throughout the day.,cloudy,"06260099999,06356099999,06348099999,0624009999..."
180,utrecht,2022-04-30,11.5,2.0,8.0,11.5,2.0,7.7,4.0,77.0,...,6.6,3,10.0,2022-04-30T06:11:45,2022-04-30T21:02:58,0.00,"Rain, Overcast",Cloudy skies throughout the day with afternoon...,rain,"06260099999,06356099999,06348099999,0624009999..."
181,utrecht,2022-05-01,15.2,0.4,9.2,15.2,0.4,9.0,3.4,71.1,...,18.3,7,10.0,2022-05-01T06:09:49,2022-05-01T21:04:39,0.02,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"06260099999,06356099999,06348099999,0624009999..."

In [5]:
def select_transform_columns(df):
    """
    This function transforms the columns of the weather data to the right format
    


    Args:
        df: 

    Returns:

    """
    new_df = df.copy()
    new_df["date"] = pd.to_datetime(new_df["datetime"])
    new_df["temperature"] = new_df["feelslike"]
    
    return new_df[["date", "temperature","precipcover","precip"]]

data_weather_used_columns = select_transform_columns(data_weather)

In [6]:
data_weather_used_columns

          date  temperature  precipcover  precip
0   2021-11-01          8.2         8.33   0.786
1   2021-11-02          5.4        58.33   0.575
2   2021-11-03          4.3        16.67   0.067
3   2021-11-04          5.4        45.83   1.471
4   2021-11-05          6.3        12.50   0.014
..         ...          ...          ...     ...
177 2022-04-27          7.1         0.00   0.000
178 2022-04-28          7.4         0.00   0.000
179 2022-04-29          7.4         0.00   0.000
180 2022-04-30          7.7         4.17   0.004
181 2022-05-01          9.0         0.00   0.000

[182 rows x 4 columns]

In [7]:
for lead in range(1, 5):  # 1 to 4 days lead
    data_weather_used_columns[f'temperature_lead_{lead}'] = data_weather_used_columns['temperature'].shift(-lead)
    data_weather_used_columns[f'precipitation_coverage_lead_{lead}'] = data_weather_used_columns['precipcover'].shift(-lead)
    data_weather_used_columns[f'precipitation_amount_lead_{lead}'] = data_weather_used_columns['precip'].shift(-lead)
data_weather_used_columns

,date,temperature,precipcover,precip,temperature_lead_1,precipitation_coverage_lead_1,precipitation_amount_lead_1,temperature_lead_2,precipitation_coverage_lead_2,precipitation_amount_lead_2,temperature_lead_3,precipitation_coverage_lead_3,precipitation_amount_lead_3,temperature_lead_4,precipitation_coverage_lead_4,precipitation_amount_lead_4
0,2021-11-01,8.2,8.33,0.786,5.4,58.33,0.575,4.3,16.67,0.067,5.4,45.83,1.471,6.3,12.50,0.014
1,2021-11-02,5.4,58.33,0.575,4.3,16.67,0.067,5.4,45.83,1.471,6.3,12.50,0.014,8.4,12.50,0.022
2,2021-11-03,4.3,16.67,0.067,5.4,45.83,1.471,6.3,12.50,0.014,8.4,12.50,0.022,9.4,58.33,3.113
3,2021-11-04,5.4,45.83,1.471,6.3,12.50,0.014,8.4,12.50,0.022,9.4,58.33,3.113,7.3,8.33,0.176
4,2021-11-05,6.3,12.50,0.014,8.4,12.50,0.022,9.4,58.33,3.113,7.3,8.33,0.176,6.6,4.17,0.001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,2022-04-27,7.1,0.00,0.000,7.4,0.00,0.000,7.4,0.00,0.000,7.7,4.17,0.004,9.0,0.00,0.000
178,2022-04-28,7.4,0.00,0.000,7.4,0.00,0.000,7.7,4.17,0.004,9.0,0.00,0.000,NaN,NaN,NaN
179,2022-04-29,7.4,0.00,0.000,7.7,4.17,0.004,9.0,0.00,0.000,NaN,NaN,NaN,NaN,NaN,NaN
180,2022-04-30,7.7,4.17,0.004,9.0,0.00,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,2022-05-01,9.0,0.00,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
def merge_data_events_weather(data_events, data_weather):
    """
    This function merges the data_events and data_weather dataframes on the date column
    """
    data_events["DATE"] = pd.to_datetime(data_events["DATE"])
    data_weather["date"] = pd.to_datetime(data_weather["date"])
    data_events_weather = pd.merge(data_events, data_weather, left_on="DATE", right_on="date", how="left")
    return data_events_weather

data_events_weather = merge_data_events_weather(data_events, data_weather_used_columns)
data_events_weather

,TIMESTAMP_EVENT,PRICE,PROPOSITION,USER_CLIENT_NUMBER,ARTICLE_CATEGORIE,USER_SESSION_ID,PROMOTION_LABEL,PAGE_NAME,PAGE_SECTION,PAGE_SECTION_POSITION,...,precipitation_amount_lead_1,temperature_lead_2,precipitation_coverage_lead_2,precipitation_amount_lead_2,temperature_lead_3,precipitation_coverage_lead_3,precipitation_amount_lead_3,temperature_lead_4,precipitation_coverage_lead_4,precipitation_amount_lead_4
0,2022-02-28T14:51:25.349Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,2.0,...,0.319,4.4,0.0,0.0,2.9,0.0,0.000,1.8,0.00,0.000
1,2022-02-28T14:51:46.443Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,2.0,...,0.319,4.4,0.0,0.0,2.9,0.0,0.000,1.8,0.00,0.000
2,2022-02-28T14:52:06.207Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,2.0,...,0.319,4.4,0.0,0.0,2.9,0.0,0.000,1.8,0.00,0.000
3,2022-02-28T14:52:06.211Z,12.5268,349240,386730,"1,091,661,078",933,Actie,Shopping Cart,Recommended Products,1.0,...,0.319,4.4,0.0,0.0,2.9,0.0,0.000,1.8,0.00,0.000
4,2022-02-28T14:51:25.319Z,12.5268,349240,386730,"1,091,661,078",933,Actie,Shopping Cart,Recommended Products,1.0,...,0.319,4.4,0.0,0.0,2.9,0.0,0.000,1.8,0.00,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9937932,2022-01-28T15:48:08.723Z,35.7192,87264,804960,"1,081,451,429",319213,NaN,NaN,NaN,NaN,...,0.458,3.4,0.0,0.0,1.3,75.0,8.973,3.8,33.33,3.343
9937933,2022-01-28T15:46:27.480Z,17.1204,594422,804960,"1,011,031,135",319213,NaN,NaN,NaN,NaN,...,0.458,3.4,0.0,0.0,1.3,75.0,8.973,3.8,33.33,3.343
9937934,2022-01-28T15:48:43.837Z,18.2424,8749,804960,"1,011,011,555",319213,NaN,NaN,NaN,NaN,...,0.458,3.4,0.0,0.0,1.3,75.0,8.973,3.8,33.33,3.343
9937935,2022-01-28T15:48:53.241Z,1.6500,255956,804960,"1,031,161,491",319213,NaN,NaN,NaN,NaN,...,0.458,3.4,0.0,0.0,1.3,75.0,8.973,3.8,33.33,3.343
9937936,2022-01-28T15:48:26.590Z,13.9260,70147,804960,"1,081,531,093",319213,NaN,NaN,NaN,NaN,...,0.458,3.4,0.0,0.0,1.3,75.0,8.973,3.8,33.33,3.343

In [9]:
data_events_weather.to_csv('processed_data/processed_data_events_weather.csv', sep="|", index=False)

KeyboardInterrupt:

In [10]:
data_events_weather.shape

(9937937, 40)

In [11]:
df_weather_proposition = data_events_weather[['PROPOSITION', 'PRICE']]
#df_weather_proposition = pd.DataFrame(df_weather_proposition, columns=['PROPOSITION'])
df_weather_proposition

         PROPOSITION    PRICE
0             554657  25.4760
1             554657  25.4760
2             554657  25.4760
3             349240  12.5268
4             349240  12.5268
...              ...      ...
9937932        87264  35.7192
9937933       594422  17.1204
9937934         8749  18.2424
9937935       255956   1.6500
9937936        70147  13.9260

[9937937 rows x 2 columns]

In [12]:
df_purchase_events = pd.read_csv('processed_data/processed_purchase_events.csv', sep='|')
df_purchase_events

,USER_CLIENT_NUMBER,DATE,PROPOSITION,AMOUNT,NUMBER_OF_TIMES_SEEN_30_days,NUMBER_OF_TIMES_SEEN_7_days,NUMBER_OF_TIMES_SEEN_1_days
0,386730,2021-11-30,436883,259.78,2,2,2
1,386730,2021-10-26,436883,64.94,0,0,0
2,386730,2022-04-01,77436,12.42,0,0,0
3,386730,2022-03-25,77436,12.42,0,0,0
4,386730,2022-04-22,77436,12.42,0,0,0
...,...,...,...,...,...,...,...
11211079,804960,2021-12-13,255956,11.55,1,1,0
11211080,804960,2022-03-07,255956,8.25,2,1,0
11211081,804960,2022-01-11,255956,8.25,1,1,1
11211082,804960,2022-02-14,255956,8.25,2,1,0
11211083,804960,2021-11-08,255956,8.25,0,0,0

In [14]:
df_proposition_article_categorie = data_events_weather[['PROPOSITION', 'ARTICLE_CATEGORIE']]
df_proposition_article_categorie

         PROPOSITION ARTICLE_CATEGORIE
0             554657     1,081,511,193
1             554657     1,081,511,193
2             554657     1,081,511,193
3             349240     1,091,661,078
4             349240     1,091,661,078
...              ...               ...
9937932        87264     1,081,451,429
9937933       594422     1,011,031,135
9937934         8749     1,011,011,555
9937935       255956     1,031,161,491
9937936        70147     1,081,531,093

[9937937 rows x 2 columns]

In [ ]:
merged_df = pd.merge(df_weather_proposition, df_proposition_article_categorie, on='PROPOSITION')